footer {
  font-size: 0.8em;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.github-logo {
  background-image: url('../images/github-mark.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
}

#score {
  font-size: 3em;
}

.game-board {
  display: flex;
  flex-direction: column;
}

.game-row {
  display: flex;
}

.game-cell {
  text-align: center;
  width: 25%;
  max-width: 25%;
  margin: 0.2em;
  padding: 0;
  border-radius: 10px;
  font-size: 5em;
  font-weight: bold;
  color: #6d3900;
  background-color: #ffc07a;
}
